<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1d1c4acd-c40c-47df-ab8a-4a5ff5a6b7d3</ProjectGuid>
    <DesktopBuildPackageLocation>C:\Users\pwett\Desktop\ClientAPI\ClientHealthWebServiceV2.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ClientHealthWebServiceV2</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
  </PropertyGroup>
</Project>