@page
@model ConfigMgrClientHealthWebservice.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>ConfigMgr Client Health Webservice</h2>
<p>Version: 1.0</p>
<p><a href="https://www.andersrodland.com/configmgr-client-health/">Documentation</a></p>
<p>Created by Anders Rødland 2018</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
